<template name="ShotDetail">
	{{#if get 'isEditing'}}
		<form class="form edit-shot">
			<input type="text" name="subject" value="{{subject}}" placeholder="Subject" />
			<textarea name="description" placeholder="Description">{{description}}</textarea>
			<input type="submit" class="btn" value="Save" />
			{{#linkTo route='shots.detail'}}
				Cancel
			{{/linkTo}}
		</form>
	{{else}}
	   <h1>{{subject}}</h1>
	   <p>{{description}}</p>
	   {{#if isMyShot}}
	   	{{#linkTo route='shots.edit'}}
	   		Edit
	   	{{/linkTo}}
	   {{/if}}
	{{/if}}
</template>
